minecraftinstance.json
.mixin.out/audit/mixin_implementation_report.csv
.mixin.out/audit/mixin_implementation_report.txt
crafttweaker.log
logs
saves
/journeymap
/local
/saves
/shaderpacks
/server-resource-packs
/crash-reports
usernamecache.json
usercache.json
optionsof.txt
options.txt
modlist.html
manifest.json
dropt.log