/usernamecache.json
/usercache.json
/optionsof.txt
/options.txt
/modlist.html
/minecraftinstance.json
/manifest.json
/crafttweaker.log
/shaderpacks
/server-resource-packs
/saves
/logs
/local
/journeymap
/astralsorcery