minecraftinstance.json
.mixin.out/audit/mixin_implementation_report.csv
.mixin.out/audit/mixin_implementation_report.txt
crafttweaker.log
logs
saves
/local
/saves
/shaderpacks
/server-resource-packs
/crash-reports
usernamecache.json
usercache.json
optionsof.txt
options.txt
modlist.html
manifest.json
dropt.log
/resourcepacks/[1.10.2]Dramatic Skys [v1.7].zip
/resourcepacks/Faithful 1.12.2-rv4.zip
/config/jei/worldSettings.cfg
